body{
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #dcdcdc;
}
background{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
*{
  box-sizing: border-box;
}
#main{
  padding: 0;
  margin: 0;
  width: 100%;
}
.main::after{
  content:"";
  clear: both;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.icon-color{
  color: white;
}

ul{
  float: right;
  display: inline;
  margin: 0;
  padding: 20px;
}
li{
  display: inline;
  padding-left: 80px;
}
a{
  color: #dcdcdc;
}
a:link{
  text-decoration: none;

}
a:hover{
  color: #6666ff;
}
.navbar{
  width: 100%;
  display: inline-block;
}
.slider{
  display: inline;
  padding: 0;
}
img{
  width: 100%;
}
.floater{
  font-family: 'Times New Roman';
  font-style: italic;
  color: black;
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
}
@media only screen and (max-width:768px) {
  .floater{
    display: none;
  }
}

h1, h2, h3, h4, h5{
  font-family: DauphinPlain 300;
  text-align: center;
}
.me{
  float: none !important;
  margin: 0 auto;
}
p{
  text-align: center;
}
.footer{
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 11px;
}
