body{
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #dcdcdc;
}

@media only screen and (min-width:768px) {
  .slider, .me, .portfolio, .contacts{
    margin-bottom: 20px;
  }
}
#main{
  padding: 0;
  margin: 0;
  width: 100%;
}
.icon-color{
  color: white;
}
.navbar{
  margin: 0;
}
ul{
  float: right;
  display: inline;
  margin: 0;
  padding: 20px;
}
li{
  display: inline;
  padding-left: 80px;
}
a{
  color: #dcdcdc;
}
a:link{
  text-decoration: none;

}
a:hover{
  color: #6666ff;
}
.navbar{
  width: 100%;
  display: inline-block;
}
.slider{
  display: inline;
  padding: 0;
}
img{
  width: 100%;
}
.floater{
  padding: 15px;
  font-family: 'Times New Roman';
  font-style: italic;
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
  background-color: rgba(5, 0, 0, 0.4);
  border-radius: 10px;
}
@media only screen and (max-width:768px) {
  .floater{
    display: none;
  }
  ul{
    float: none !important;
  }
}

h1, h2, h3, h4, h5{
  font-family: DauphinPlain 300;
  text-align: center;
}
.me{
  float: none !important;
  margin: 0 auto;
}
.details{
  padding: 10px;
  border-radius: 10px;
}
p{
  text-align: center;
}
.footer{
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 11px;
}
